/*FOOTER*/
footer{
    background-color:rgb(229, 229, 229);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-top: auto;
}

.redes{
    display: flex;
}

.logo_redes{
    margin: 10px;
}